### -- GRAFANA EMAIL ALERTING -- ###
# Grafana Documentation:
# https://grafana.com/docs/grafana/latest/alerting/configure-notifications/manage-contact-points/integrations/configure-email/
# https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/#smtp

GF_SMTP_ENABLED=true

## Sender email (gmail recommanded)
GF_SMTP_USER=email@gmail.com

# Password application for email account (not your email password)
# Tutorial for create password application into gmail: https://www.youtube.com/watch?v=MkLX85XU5rU
GF_SMTP_PASSWORD=xxxxxxxxxxxxx

## Receiver SMTP server and port
GF_SMTP_HOST=smtp.gmail.com:587
## Receiver SMTP email (could be the same a the sender)
RECEIVER=email@gmail.com
